body {
	background: #eeeeee;
	margin: 0;
	direction: rtl;
	text-align: center;
	font-family: sans-serif;
	font-size: 2vh;
}

body,
html {
	height: 100%;
}

.button {
	height: 5vh;
	padding: 9px;
}

.button:hover {
	filter: drop-shadow(0px 0px 3px white);
}

#navbar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(8vh, auto);
	color: white;
	background-color: #524766;
	margin-bottom: 2vh;
}

#navbar div {
	display: flex;
	align-items: center;
}
#navbar div a {
	display: inherit;
	align-items: inherit;
}

#projLogo{
	position: absolute;
    height: 16vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
	right: 0;
	border: 9px #e8e8e8;
	border-style: outset;
	border-radius: 290px;
	top: 2vh;
	box-shadow: 0px 0px 5px black;
}

#madorLogo{
	height: 9vh;
	position: relative;
	top: -1.5vh;
	margin-top: 1.5vh;
	padding: 9px;
}

#content{
	margin-top: 11vh;
}

h1{
	font-size: 5vh;
}
h2{
	font-size: 3vh;
}
h4{
	display: inline-block;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	font-size: 1.8vh;
}

h4 a img{
	height: 8vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2vh;
}
#links h4{
	width: 13vh;
	display: inline-flex;
}
h4 a{
	color: #524766;
	text-decoration: none;
	text-shadow: 1px 1px #6d657b;
	margin-left: auto;
	margin-right: auto;
}

p a{
	color: #524766;
    text-decoration: none;
    text-shadow: 1px 1px #6d657b;
}