body {
	background: #292929;
	margin: 0;
}

body,
html {
	height: 100%;
	overflow: hidden;
}

#flipbook {
	margin: auto;
	transition-duration: 1s;
	-webkit-user-select: none;
	animation: 1s ease 0s infinite normal none running dummy;
}

#flipbook .turn-page {
	/*
	background-color:white;
	*/
	background-color: silver;
	box-shadow: 0px 0px 10px gray;
}


#flipbook .cover {
	background: #333;
}

#flipbook .cover h1 {
	color: white;
	text-align: center;
	font-size: 50px;
	line-height: 500px;
	margin: 0px;
}

#flipbook .loader {
	background-image: url(loader.gif);
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: 238px;
	left: 188px;
}

#flipbook .data {
	text-align: center;
	font-size: 40px;
	color: #999;
	line-height: 500px;
}

#flipbook .odd {
	background-image: -webkit-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image: -moz-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image: -o-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image: -ms-linear-gradient(left, #FFF 95%, #ddd 100%);
}

#flipbook .even {
	background-image: -webkit-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image: -moz-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image: -o-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image: -ms-linear-gradient(right, #FFF 95%, #ddd 100%);
}

#logo {
	position: absolute;
	right: 0px;
	bottom: 0px;
	/*height: 10em;*/
	filter: grayscale();
	transition: 1s;
	margin: 22px;
	width: 19vh;
	max-width: 30vw;
}

#logo:hover {
	filter: initial;
}

.button {
	/*height: 5vh;*/
	padding: 9px;
	cursor: pointer;
	max-height: 5vh;
	height: 6vw;
	user-select: none;
	touch-action: none;
}

.button:hover {
	filter: drop-shadow(0px 0px 3px white);
}

.arrow {
	height: 4vh;
}

#topBar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(8vh, auto);
	color: white;
	background-color: #524766;
	margin-bottom: 2vh;
}

#topBar div {
	display: flex;
	align-items: center;
}

#pageCounter {
	text-align: center;
	font-size: 3vh;
	padding-top: 1vh;
	height: initial;
	padding: 9px;
	color: white;
	cursor: default;
}

#controls {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	margin-top: 7px;
}

.btnActive {
	filter: drop-shadow(0px 0px 3px rgb(63, 130, 255)) !important;
}

#pageRange {
	display: block;
	margin: 0 auto;
	width: 33vw;
	height: 0.3vh;
	outline: 0;
	margin-top: 1vh;
	direction: rtl;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 7.8px 0;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 0.3vh;
	cursor: pointer;
	background: #d2d2d2;
	border-radius: 0px;
	outline: 0;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 2.6px 2.6px 3.7px rgba(0, 0, 0, 0.19), 0px 0px 2.6px rgba(13, 13, 13, 0.19);
	border: 2.5px solid #262626;
	height: 2.8vh;
	width: 2vh;
	border-radius: 6px;
	background: #f5f5f5;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -9.5px;
	outline: 0;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #d2d2d2;
	outline: 0;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 0.3vh;
	cursor: pointer;
	background: #d2d2d2;
	border-radius: 0px;
	outline: 0;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 2.6px 2.6px 3.7px rgba(0, 0, 0, 0.19), 0px 0px 2.6px rgba(13, 13, 13, 0.19);
	border: 2.5px solid #262626;
	height: 2.8vh;
	width: 2vh;
	border-radius: 6px;
	background: #f5f5f5;
	cursor: pointer;
	outline: 0;
}

input::-moz-focus-inner {
	border: 0;
}

#pageInput {
	text-align: center;
	font-size: 3vh;
	height: initial;
	padding: 9px;
	color: white;
	cursor: default;
	width: 26vw;
	background: none;
	-moz-appearance: textfield;
	border: 0;
	line-height: 28px;
	font-family: initial;
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.bookShadow {
	width: 100%;
	height: 100%;
	z-index: 30;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 47%, rgba(50, 50, 50, 0.75) 50%, rgba(0, 0, 0, 0) 53%, rgba(255, 255, 255, 0) 100%);
	position: absolute;
}

label {
	display: inline-block;
	width: 5em;
}

/* Dropdown Button */
.dropbtn {
	/*background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;*/
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
	background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none !important;
	position: absolute;
	background-color: #000000ed;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 9991;
	width: 29vw;
	direction: rtl;
	border: #757575eb 1.5px solid;
	position: fixed;
	left: 0px;
	right: 0;
	margin: 0 auto;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd
}

.dropdown-item {
	margin: 9px auto;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block !important;
}


.sk-folding-cube {
	margin: 70px auto;
	width: 5em;
	height: 5em;
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #c8c8c8;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {

	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}

	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}

	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

@keyframes sk-foldCubeAngle {

	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}

	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}

	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

.loadingText {
	font-size: 2em;
	color: white;
	text-align: center;
	display: block;
	margin-bottom: 0.3em;
}

@keyframes dummy {
	from {
		opacity: 1;
	}

	to {
		opacity: 1;
	}
}

svg {
	width: 100%;
	height: 100%;
	user-select: text;
}